@mixin info{
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    vertical-align: text-top;
}
aside{
    margin: auto 0 auto 15px;
    width: 35%;
    & > div{
        display: flex;
        flex-flow: column nowrap;
        gap: 10px;
        span.header{
            @include info;
            color: #999;
            width: 90px;
        }
        span.body{
            @include info;
            color: #333;
            width: calc(100% - 90px);
            display: -webkit-inline-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3; 
            overflow: hidden;
            text-overflow: ellipsis;
            img{
                width: 100%;
            }
        }
    }
}